* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-banner {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  background-image: url("./images/donation4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.top-banner-text {
  width: 50%;
  color: #fff;
  margin: 0 auto;
  margin-top: 250px;
}

.top-banner-text h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.top-banner-text p {
  font-size: 20px;
  font-weight: 600;
}

.top-banner-text a {
  text-decoration: none;
  display: inline-block;

  margin-top: 15px;
  background-color: blueviolet;
  padding: 20px 25px;
  margin-top: 20px auto;
  text-transform: uppercase;
  color: #fff;
}

/* Donation section starts here */

.donate-section {
  height: 100vh;
  width: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 150px;
}

.donate-first-part {
  width: 50%;
  text-align: center;
}

.donate-first-part h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.donate-first-part p {
  margin-bottom: 20px;
}

.donate-second-part span {
  display: inline-block;
  margin: 20px;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
}

.border-span {
  background-color: #ffcccb;
  border: 1px solid red;
}

.donate-third-part {
  display: flex;
  flex-direction: column;
}

.donate-third-part input {
  display: inline-block;
  width: 400px;
  height: 50px;
  border: none;

  padding: 0 10px;
  border-bottom: 1px solid gray;
}

.donate-third-part a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  margin-top: 15px;
  background-color: blueviolet;
  padding: 20px 25px;
  margin-top: 20px auto;
  text-transform: uppercase;
  color: #fff;
}

/* donation section ends here */

/* donate plane starts here */
.donate-plan {
  height: 50vh;
  width: 90%;
  background-color: #fff;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

/* donate plane starts here */
